.container {
    width: 100%;
    height: 20vh;
}
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game h1 {
font-size: 2.5em
}

.points span {
    font-weight: bold;
}


.container .game {
    justify-content: center;
}

.tip span {
color: #cfa000
}

.wordContainer {
    margin: 1.5em;
    padding: 1.5em;
    border: 7px solid rgb(241, 223, 118);
    border-radius: 5px; 
    display: flex;
}

.letter, 
.blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #111;
    height: 100px;
    width: 100px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.letterContainer p {
    margin-bottom: 1.2em;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}


@media screen and (max-device-width: 600px) {
    .letter, 
    .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 1.5px solid #111;
    height: 38px;
    width: 35px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
}
}

@media (min-width: 600px) and (max-device-width: 700px) {
    .letter, 
    .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 1px solid #111;
    height: 40px;
    width: 35px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
}
}

@media screen and (max-device-width: 530px) {
    
    .game h1 {
        font-size: 1.5em;
    }
    
    .letter, 
    .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 1px solid #111;
    height: 37px;
    width: 36px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
}
.wordContainer {
    max-width: 250px;
}
}

@media screen and (max-device-width: 470px) {
    .letter, 
    .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 1px solid #111;
    height: 34px;
    width: 35px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
}
.wordContainer {

    max-width: 250px;
}
}

@media (min-width: 700px)  and (max-device-width: 800px) {
    .letter, 
    .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 1.5px solid #111;
    height: 46px;
    width: 44px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.4em;
    display: flex;
    justify-content: center;
}
.wordContainer {

    max-width: 400px;
}
}

@media (min-width: 800px) and (max-device-width: 900px) {
    .letter, 
    .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 1.5px solid #111;
    height: 50px;
    width: 50px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.4em;
    display: flex;
    justify-content: center;
}
.wordContainer {

    max-width: 500px;
}
}

@media (min-width: 900px) and (max-device-width: 1000px) {
    .letter, 
    .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 1.5px solid #111;
    height: 55px;
    width: 60px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.4em;
    display: flex;
    justify-content: center;
}
.wordContainer {

    max-width: 500px;
}
}

@media (min-width: 1000px) and (max-device-width: 1600px) {
    .letter, 
    .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 1.5px solid #111;
    height: 55px;
    width: 60px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.4em;
    display: flex;
    justify-content: center;
}

.wordContainer {

    max-width: 600px;
}
}





