html, body{
  height: 100%;
  background: linear-gradient(90deg, hsla(195, 74%, 18%, 1) 0%, hsla(194, 27%, 19%, 1) 100%);

}

body{
  font-family: Helvetica;
  margin: 0;
  padding: 0; 
  color: #ddd;
}